/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/space-mono-v6-latin-regular.woff2') format('woff2'),
        url('../fonts/space-mono-v6-latin-regular.woff') format('woff'),
        url('../fonts/space-mono-v6-latin-regular.ttf') format('truetype')
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'),
        url('../fonts/space-mono-v6-latin-700.woff') format('woff'),
        url('../fonts/space-mono-v6-latin-700.ttf') format('truetype')
  }
  /* lexend-deca-regular - latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/lexend-deca-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/lexend-deca-v10-latin-regular.woff') format('woff'),
        url('../fonts/lexend-deca-v10-latin-regular.ttf') format('truetype')
}