.button {
    background: #FCB72B;
    padding: 14px 39px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.active-btn:active {
    border: 3px solid #FCB72B;
    background-color: #fff;
    color: #FCB72B;
    padding: 11px 36px;
}