.footer {
    background-color: #333A44;
    padding-top: 35px;
    padding-bottom: 32px;
}

.footer__container, .footer-left, .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    max-width: 415px;
    width: 100%;
}

.footer__logo {
    flex-shrink: 0;
}

.footer-nav {
    max-width: 249px;
    width: 100%;
}

.footer__list {
    list-style: none;
}

.footer__link {
    color: #939CAA;
    text-decoration: none;
}

@media only screen and (max-width: 643px) {
    .footer {
        position: relative;
    }

    .footer-left {
        justify-content: center;
    }

    .footer-nav  {
        display: none;
    }

    .button {
        display: inline-block;
        z-index: 10;
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 375px) {
    .button {
        display: none;
    }
}