.header {
    padding: 22px 0 21px;
}

.header__container, .header-left, .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    max-width: 415px;
    width: 100%;
}

.logo {
    flex-shrink: 0;
}

.header__hamburger {
    display: none;
    background-color: transparent;
    border: none;
    background-image: url("../images/hamburger.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 643px) {
    .header {
        position: relative;
    }

    .header--open .header__container {
        position: relative;
        justify-content: space-between;
    }

    .header-left {
        justify-content: flex-end;
    }

    .header__container .button {
        display: none;
    }

    .header__hamburger {
        flex-shrink: 0;
        display: inline-block;
    }

    .header--open .header__hamburger {
        background-image: url("../images/footer-times.svg");
    }

    .header--open .header__button {
        position: absolute;
        bottom: 100px;
        left: 100px;
        z-index: 99;
    }
}

@media only screen and (max-width: 375px) {
    .header-left {
        justify-content: center;
    }
}